@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

:root {
    --primary-color: #293D9B !important;
}

body {
    font-family: "Ledger", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.1rem;
}

h1 {
    @apply text-xl md:text-2xl
}

h2 {
    @apply text-5xl md:text-7xl
}

h3 {
    @apply text-4xl
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
}

/* Primevue */
.p-column-header-content {
    justify-content: center;
    text-align: center;
}

.p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
}

.p-skeleton {
    border-radius: 0 !important;
}

.p-component * {
    font-family: "Ledger", serif;

}

.p-button,
.p-component,
.p-inputgroup-addon {
    border-radius: 0;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {


    color: #293D9B;
}


.p-button,
.p-highlight {
    /* background-color: #293D9B; */
    box-shadow: none;
    border-color: var(--primary-color);
}

.p-stepper-number,
.p-stepper-title {
    color: #293D9B;
}

.p-stepper-separator {
    background-color: #293D9B;
}

.p-datepicker table td>span.p-highlight {
    background: #293d9b;
    color: white;
}

/* PERSONALIZADOS */
.btn {
    @apply py-2 px-3
}