@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

/* Primevue */
.p-column-header-content {
    justify-content: center;
    text-align: center;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}